<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" >
            <img src="https://upload.wikimedia.org/wikipedia/commons/5/51/Aragon_Jonhy_corel.jpg " width="30" height="30" class="d-inline-block align-top" alt="" loading="lazy">
           API-ESCUELA DE BAILE</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="">Inicio<span class="sr-only">(current)</span></a>
                </li>
        </div>
    </nav>
    <br>
    <br>
    <div class="modal-dialog text-center">
        <h1>Registar una Academia</h1>
    </div>
    <div class="container">
        <form action="" method="POST">
            <hr class="solid" style="border-top: 3px solid green">
            <div class="modal-dialog text-center">
                <h3>Ingrese los datos</h3>
            </div>
            <div class="form-row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <label for="validationServer01"> Nombre</label>
                    <input type="text" class="form-control" id="nombre"  placeholder="nombre" name="Nombre">

                </div>
                <div class="invalid-feedback">More example invalid feedback text</div>
                <div class="valid-feedback">ok</div>
                <div class="col-sm-4">
                    <label for="Director">Director</label>
                    <input type="text" class="form-control" id="Director" placeholder="Director" name="Director">

                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <label for="Ritmo_Principal">Ritmo Principal</label>
                    <input type="text" class="form-control " id="Ritmo_Principal" placeholder="Ritmo_Principal" name="Ritmo_Principal">

                </div>
                <div class="col-sm-4">
                    <label for="Ritmo_Secundario">Ritmo Secundario</label>
                    <input type="text" class="form-control " id="Ritmo_Secundario" placeholder="Ritmo_Secundario" name="Ritmo_Secundario">

                </div>
            </div>

            <div class="form-row">
                <div class="col-sm-2"></div>

                <div class="col-sm-4">
                    <label for="Direccion">Direccion</label>
                    <input type="text" class="form-control " id="Direccion" placeholder="Direccion" name="Direccion">

                </div>
                <div class="col-sm-4">
                    <label for="num_Profesores">Numero de Profesores</label>
                    <input type="text" class="form-control " id="num_Profesores" placeholder="num_Profesores" name="num_Profesores">


                </div>
            </div>
            <div class="form-row">
                <div class="col-sm-2"></div>
                <div class="col-sm-4">
                    <label for="num_Alumnos">Numero de Alumnos</label>
                    <input type="text" class="form-control " id="num_Alumnos" placeholder="num_Alumnos" name="num_Alumnos">

                </div>
                <div class="col-sm-4">
                    <label for="Id">Id</label>
                    <input type="text" class="form-control " id="Id" placeholder="Id" name="Id">

                </div>

             </div>
            </div>
            <br>
            <div class="form-row">
                <div class="col-sm-5"></div>
                <div class="col-sm-3">

                    <button type="submit" class="btn btn-success" formmethod="post" data-toggle="modal">
                        Registrarme
                    </button>


                </div>
            </div>
            <hr class="solid" style="border-top: 2px solid green">



        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>
